/* Header
------------------------------------------------------------*/
.c-header {
    background-color: #2d61ab;
    border-bottom: 5px solid #f65d11;
    &__top {
        display: flex;
        color: #fff;
        align-items: center;
        padding: 20px;
        font-size: 1.8rem;
        i {
            font-size: 3.0rem;
            width: 30px;
            height: 30px;
        }
        &.sp-only {
            display: none;
            @include sp() {
                display: flex;
                align-items: center;
            }
        }
    }
    &__link {
        margin-left: 20px;
        font-size: 2.0rem;
    }
    &__icon {
        i {
            &:nth-child(2) {
                display: none;
            }
        }
    }
}
