<%- include('inc/_header'); %>
<main class="p-home" id="home">
    <section class="p-home1">
        <ul class="c-slider">
            <li class="c-slider__item">
                <figure class="c-slider__img">
                    <img  alt="xe ba gac hạnh phat" src="/assets/img/banner3.png">
                </figure>
            </li>
            <li class="c-slider__item">
                <figure class="c-slider__img">
                    <img alt="xe ba gac binh duong" src="/assets/img/banner1.png">
                </figure>
            </li>
            <li class="c-slider__item">
                <figure class="c-slider__img">
                    <img  alt="xe ba gac hạnh phat" src="/assets/img/banner2.png">
                </figure>
            </li>
            <li class="c-slider__item">
                <figure class="c-slider__img">
                    <img  alt="xe ba gac hạnh phat" src="/assets/img/banner4.png">
                </figure>
            </li>
          </ul>
    </section>
    <section class="p-home2" id="review">
        <div class="l-container">
            <h2 class="c-title1">Đánh giá của khách hàng</h2>
            <ul class="c-review">
                <li class="wow bounceInUp c-review__item" data-wow-delay="0.2s">
                   <div class="c-review__content">
                        <figure class="c-review__img">
                            <img alt="xe ba gac van chuyen" src="/assets/img/sv1.png">
                        </figure>
                        <div class="c-review__star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p class="c-review__text">Tôi là sinh viên. Đã sử dụng dịch vụ vận chuyển hạnh phát rất có tâm.
                            Làm việc nhánh chóng và giá cả hợp lý cho sinh viên. Cảm ơn người hỗ trợ đã tư vấn nhiệt tình
                            Và đưa cho em được nhiều nơi ở mới. Cảm ơn sự làm việc của vận chuyển hạnh phát
                        </p>
                        <p class="c-review__author"><span>Em Nam</span>(20 tuổi sinh viên Công nghệ, ở TP Hồ Chí Minh) <span>chia sẻ</span> </p>
                   </div>
                </li>
                <li class="wow bounceInUp c-review__item" data-wow-delay="0.2s">
                    <div class="c-review__content">
                        <figure class="c-review__img">
                            <img alt="xe ba gac van chuyen"  src="/assets/img/review1.png">
                         </figure>
                         <div class="c-review__star">
                             <i class="fa-solid fa-star"></i>
                             <i class="fa-solid fa-star"></i>
                             <i class="fa-solid fa-star"></i>
                             <i class="fa-solid fa-star"></i>
                             <i class="fa-solid fa-star"></i>
                         </div>
                         <p class="c-review__text">Tôi là phụ nữ và rất bất tiện trong việc di chuyển phòng. Nhờ có vận tải hạnh phát mà tôi yên tâm hơn.
                             Cảm ơn vận chuyển hạnh phát đã vận chuyển đồ an toàn và nhanh chóng. Cảm ơn sự nhiệt tình chu đáo của bạn.
                             Sau này, tôi di chuyển nơi khác, tôi sẽ liện hệ lại với bạn. Cảm ơn nhiều.
                         </p>
                         <p class="c-review__author"><span>Chị Tuyết</span>(40 tuổi nhân viên siêu thị, ở TP Bình Dương) <span>chia sẻ</span> </p>
                    </div>
                 </li>
                 <li class="wow bounceInUp c-review__item" data-wow-delay="0.2s">
                    <div class="c-review__content">
                        <figure class="c-review__img">
                            <img alt="xe ba gac van chuyen bình dương"  src="/assets/img/review03.png">
                        </figure>
                         <div class="c-review__star">
                             <i class="fa-solid fa-star"></i>
                             <i class="fa-solid fa-star"></i>
                             <i class="fa-solid fa-star"></i>
                             <i class="fa-solid fa-star"></i>
                             <i class="fa-solid fa-star"></i>
                         </div>
                         <p class="c-review__text">Quá tuyệt vời luôn vận chuyển hạnh phát ơi!. Nhờ bạn mà tôi khoẻ re, và không mất nhiều thời gian.
                             Làm việc nhanh chóng, hỗ trợ rất nhiệt tình. Tôi sẽ giới thiệu khách hàng của mình đến với vận chuyển hạnh phát.
                            Cảm ơn vận chuyển hạnh phát rất nhiều.
                         </p>
                         <p class="c-review__author"><span>Chị Hồng</span>(30 tuổi nhân viên văn phòng, ở TP Hồ Chí Minh) <span>chia sẻ</span> </p>
                    </div>
                 </li>
            </ul>
        </div>
    </section>

    <section class="p-home3" id="store">
        <div class="l-container">
            <h2 class="c-title1">Kho thư viện</h2>
            <div class="gallery-image-list wow bounceInUp" data-wow-delay="0.2s">
                <div class="image-list">
                    <div class="image wow bounceInUp" data-wow-delay="0.2s">
                        <figure>
                            <img src="/assets/img/store09.png" alt="">
                        </figure>
                    </div>
                    <div class="image wow bounceInUp" data-wow-delay="0.2s">
                        <figure>
                            <img src="/assets/img/store01.png" alt="">
                        </figure>
                    </div>
                    <div class="image wow bounceInUp" data-wow-delay="0.2s">
                        <figure>
                            <img src="/assets/img/store06.png" alt="">
                        </figure>
                    </div>
                    <div class="image wow bounceInUp" data-wow-delay="0.2s">
                        <figure>
                            <img src="/assets/img/store02.png" alt="">
                        </figure>
                    </div>
                    <div class="image wow bounceInUp" data-wow-delay="0.2s">
                        <figure>
                            <img src="/assets/img/store07.png" alt="">
                        </figure>
                    </div>
                    <div class="image wow bounceInUp" data-wow-delay="0.2s">
                        <figure>
                            <img src="/assets/img/store03.png" alt="">
                        </figure>
                    </div>
                    <div class="image wow bounceInUp" data-wow-delay="0.2s">
                        <figure>
                            <img src="/assets/img/store04.png" alt="">
                        </figure>
                    </div>
                    <div class="image wow bounceInUp" data-wow-delay="0.2s">
                        <figure>
                            <img src="/assets/img/store05.png" alt="">
                        </figure>
                    </div>
                </div>
              </div>
        </div>
    </section>

    <section class="p-home4" id="contact">
        <div class="l-container">
            <h2 class="c-title1">vị trí liên hệ</h2>
            <div class="p-home4__content wow bounceInUp" data-wow-delay="0.2s">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.513020614362!2d106.66421431507443!3d11.075090756637508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174ce4824117045%3A0x958fb40c2ceb7176!2zMjI4IMSQxrDhu51uZyBENSwgSG_DoCBM4bujaSwgQuG6v24gQ8OhdCwgQsOsbmggRMawxqFuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1650790958556!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
</main>
<%- include('inc/_footer'); %>
<script src="../assets/js/home.js"></script>
<!--▼ Content area ▼-->
