/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1 {
	display: flex;
    @include sp() {
        // flex-wrap: wrap;
        flex-direction: column;
    }
    &.is-show {
        border: none;
        @include sp() {
            border-top: 1px solid #ccc;
            padding-top: 10px;
        }
    }

    &__item {
        text-transform: uppercase;
        font-weight: 600;
        padding: 15px 20px;
        color: #ffffff;
        border-right: 1px;
        border-color: #858080;
        border-style: solid;
        transition: 0.3s ease-in-out;
        font-size: 1.8rem;
        @include sp() {
            border-right: 0;
            padding: 20px;
        }
        cursor: pointer;
        &:hover {
            background-color: #f65d11;
            transition: 0.3s ease-in-out;
        }
        &.is-active {
            background-color: #f65d11;
        }
        &:last-child {
            border-right: none;
        }
    }
    
}