	<!--▼ Footer ▼-->
	<footer class="c-footer">
		<div class="l-container">
			<div class="c-footer__content">
				<div class="c-footer__left">
					<h3>THÔNG TIN VẬN CHUYỂN</h3>
					<p class="c-footer__address"><a target="_blank" href="https://www.google.com/maps/place/228+%C4%90%C6%B0%E1%BB%9Dng+D5,+Ho%C3%A0+L%E1%BB%A3i,+B%E1%BA%BFn+C%C3%A1t,+B%C3%ACnh+D%C6%B0%C6%A1ng,+Vi%E1%BB%87t+Nam/@11.0750908,106.6642143,17z/data=!3m1!4b1!4m5!3m4!1s0x3174ce4824117045:0x958fb40c2ceb7176!8m2!3d11.0750855!4d106.666403?hl=vi-VN">Địa chỉ 1: 228 đường d5 phường hòa phú thủ dầu 1 bình dương</a></p>
					<p class="c-footer__email">Email: hanh200888@gmail.com</p>
					<p class="c-footer__link">Website: https://xebagachanhphat.com</p>
					<p>Số điện thoại:<a href="tel:0943228279"> 0943228279</a> </p>
				</div>
				<div class="c-footer__center">
					<h3>Xe ba gác chở hàng</h3>
					<ul class="c-footer__ul">
						<li class="c-footer__li">
							<a href="#">Giới thiệu</a>
						</li>
						<li class="c-footer__li">
							<a href="#">Liên hệ</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class='zalome'>
			<a href='https://zalo.me/0943228279' target='_blank'>
				<img alt='icon zalo' src='https://1.bp.blogspot.com/-EfLNosfvRuU/YShtgbHi9tI/AAAAAAAAAko/2E0ZcIf6hsYWzf0xZRaGUzclGiULofhPgCNcBGAsYHQ/s0/icon-zalo.png'/>
			</a>
		</div>
		<div class="ring">
			<div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
				<a href="tel:0943228279">
					<div class="coccoc-alo-ph-circle"></div>
					<div class="coccoc-alo-ph-circle-fill"></div>
					<div class="coccoc-alo-ph-img-circle"></div>
				</a>
			</div>
		</div>
	</footer>
	<div class="c-copyright">
		<p class="c-copyright__txt">©2022 Vận chuyển hạnh phát.</p>
	</div>
	<!--▲ Footer ▲-->
</body>
</html>