<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Xe ba gac hanh phat</title>
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
	<!--▼ Header ▼-->
	<header class="c-header">
		<div class="l-container">
			<div class="c-header__top sp-only">
				<div class="c-header__icon">
					<i class="fa-solid fa-align-justify"></i>
					<i class="fa-solid fa-xmark"></i>
				</div>
				<a href="/" class="c-header__link">Xe tải - xe ba gác chở hàng Bình Dương</a>
			</div>
			<ul class="c-list1 is-show">
				<li class="c-list1__item is-active">
					<a href="#">Trang chủ</a>
				</li>
				<li class="c-list1__item">
					<a href="#">Liên hệ</a>
				</li>
				<li class="c-list1__item">
					<a href="#">Tin tức</a>
				</li>
				<li class="c-list1__item">
					<a href="#">Kho hình ảnh</a>
				</li>
				<li class="c-list1__item">
					<a href="#">Nhận xét của khách hàng</a>
				</li>
			</ul>
		</div>
	</header>
	<!--▲ Header ▲-->